body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2E7C9  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.registration-container{
  position: relative;
  background: rgba(240, 248, 255, 0.5);
  width: 600px;
  margin-top: 40%;
  margin-bottom: auto;
  margin: 0 auto;
  
  }

.game-card-images{
  max-width:450px;
  max-height:450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-styling{
  background-color: #413C58;
}


.card-styling{
  background-color: #EEF0F2 ;
}
